### 연습문제 1
<pre>
넘파이를 사용하여 다음과 같은 행렬을 만드시오. 
10 20 30 40 
50 60 70 80
</pre>

In [1]:
import numpy as np

In [7]:
a= np.arange(10,81,10).reshape(2,4)
a

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

### 연습문제 2
<pre>
다음 행렬과 같은 행렬이 있다. 
m = np.array([  [ 0, 1, 2, 3, 4], 
                [ 5, 6, 7, 8, 9], 
                [10, 11, 12, 13, 14]])
1)이 행렬에서 값 7 을 인덱싱한다.
2)이 행렬에서 값 14 을 인덱싱한다.
3)이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
4)이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
5)이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.
</pre>

In [58]:
m = np.array([  [ 0, 1, 2, 3, 4], 
                [ 5, 6, 7, 8, 9], 
                [10, 11, 12, 13, 14]])
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [12]:
# 1)이 행렬에서 값 7 을 인덱싱한다.
m[1][2]

7

In [13]:
# 2)이 행렬에서 값 14 을 인덱싱한다.
m[2][4]

14

In [19]:
# 3)이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
m[1:2,1:3]

array([[6, 7]])

In [20]:
# 4)이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
m[1:, 2:3]

array([[ 7],
       [12]])

In [21]:
# 5)이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.
m[:2,3:]

array([[3, 4],
       [8, 9]])

### 연습문제 3
<pre>
3.2번의 행렬 m을 1차원 벡터 f 로 변환한 후 다음의 문제를 푸시오.
1)이 배열에서 3의 배수를 찾아라.
2)이 배열에서 4로 나누면 1이 남는 수를 찾아라.
3)이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.
</pre>

In [61]:
f= m.flatten()
f

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [64]:
# 1)이 배열에서 3의 배수를 찾아라.
f1 = f[f%3==0]
f1

array([ 0,  3,  6,  9, 12])

In [65]:
# 2)이 배열에서 4로 나누면 1이 남는 수를 찾아라.
f2 = f[f%4==1]
f2

array([ 1,  5,  9, 13])

In [70]:
# 3)이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.
f3 = f1[f1%4==1]
f3

array([9])

### 연습문제 4
<pre>
4.값을 직접 입력하지 말고 우측의 행렬을 만드시오.

2, 1, 0, 0, 0 
3, 2, 1, 0, 0
0, 3, 2, 1, 0 
0, 0, 3, 2, 1 
0, 0, 0, 3, 2
</pre>

In [86]:
np.eye(N=5 , M=5,k=-1, dtype=int)*3+np.eye(N=5 , M=5, dtype=int)*2+np.eye(N=5 , M=5,k=1, dtype=int)

array([[2, 1, 0, 0, 0],
       [3, 2, 1, 0, 0],
       [0, 3, 2, 1, 0],
       [0, 0, 3, 2, 1],
       [0, 0, 0, 3, 2]])

In [74]:
np.eye(3,5,k=0,dtype=int)+ np.eye(3,5,k=2, dtype=int)

array([[1, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 1]])

### 연습문제 5
<pre>
0에서 10까지 랜덤 실수값으로 이루어진 
5 x 6 형태의 데이터 행렬을 만들고 이 데이터에 대해 
다음과 같은 값을 구하시오.
1)전체의 최댓값
2)각 행의 합
3)각 행의 최댓값
4)각 열의 평균
5)각 열의 최솟값
</pre>

In [94]:
import random
b = np.random.randint(0,11,30).reshape(5,6)
b

array([[ 1,  7,  7, 10,  1,  9],
       [ 8,  0,  5,  2,  6,  8],
       [ 8,  3,  5,  9,  4,  6],
       [ 9,  4,  4,  0,  9,  6],
       [ 5,  1,  7,  8,  9,  5]])

In [95]:
# 1)전체의 최댓값
b.max()

10

In [96]:
# 2)각 행의 합
b.sum(axis=1)

array([35, 29, 35, 32, 35])

In [97]:
# 3)각 행의 최댓값
b.max(axis=1)

array([10,  8,  9,  9,  9])

In [99]:
# 4)각 열의 평균
b.mean(axis=0)

array([6.2, 3. , 5.6, 5.8, 5.8, 6.8])

In [100]:
# 5)각 열의 최솟값
b.min(axis=0)

array([1, 0, 4, 0, 1, 5])

### 연습문제 6
<pre>
6.다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 
세번째 행에 수학 성적을 적은 배열이다. 
영어 성적을 기준으로 각 열(column)을 재정렬하시오.
array([ [ 1, 2, 3, 4], 
        [ 46, 99, 100, 71], 
        [ 81, 59, 90, 100]])
</pre>

In [187]:
c = np.array([1,2,3,4,  46, 99, 100, 71,  81, 59, 90, 100], dtype=np.int32).reshape(3,4)
c

array([[  1,   2,   3,   4],
       [ 46,  99, 100,  71],
       [ 81,  59,  90, 100]])

In [207]:
c1 = np.array([ 1, 2, 3, 4])
c2 = np.array([ 46, 99, 100, 71])
c3 = np.array([ 81, 59, 90, 100])

print(c1)
print(c2)
print(c3)

[1 2 3 4]
[ 46  99 100  71]
[ 81  59  90 100]

In [208]:
i = c3.argsort()
i

array([1, 0, 2, 3], dtype=int64)

In [212]:
i = np.argsort(c3)
c1 = c1[i]
c2 = c2[i]
c3 = c3[i]
np.vstack((c1,c2,c3))

array([[  2,   1,   3,   4],
       [ 99,  46, 100,  71],
       [ 59,  81,  90, 100]])

### 연습문제 7
<pre>
7.주사위를 100번 던지는 가상 실험을 파이썬으로 작성하고, 던져서 나오는 숫자의 평균을 구하시오.
</pre>

In [215]:
np.random.randint(1,7,100).mean()

3.77

### 연습문제 8
<pre>
8.가격이 10,000원인 주식이 있다. 
이 주식의 일간 수익률(%)은 기댓값이 0%이고 
표준편차가 1%인 표준 정규 분포를 따른다고 하자. 
250일 동안의 주가를 무작위로 생성하시오.
</pre>

In [279]:
e = np.random.randn(250)*100 +10000
e

array([ 9937.74792934,  9738.41560411,  9857.93395297,  9915.10790338,
       10012.01654047,  9889.48414108, 10072.42973813,  9933.69677556,
        9794.55126113,  9933.5624961 , 10155.33994878,  9959.15650312,
        9841.62732519, 10205.96076725,  9841.59013169,  9895.69518056,
       10073.64202572, 10080.40221215, 10025.44449336, 10157.32900613,
       10009.74060539, 10049.10552923,  9943.37573902, 10060.57568761,
        9900.6748033 ,  9893.15795818,  9950.68944543, 10036.37519449,
        9964.49738292, 10034.12902567,  9776.67169311,  9999.63481631,
        9931.32999732,  9993.48595028,  9948.77735839, 10046.80206642,
       10169.84224222,  9987.97511084,  9993.33457867, 10111.74320336,
       10004.01585929,  9990.13881943, 10194.35816023,  9901.96655292,
        9921.12600416, 10121.79803218, 10015.38086773, 10225.79934211,
       10161.7071877 , 10125.32491292,  9995.00401154,  9891.60115914,
        9957.16229546,  9980.75594569, 10017.75250725, 10138.26970125,
       10029.06152322,  9868.8638269 , 10011.62566318,  9878.77111426,
       10204.75397545, 10056.94300443, 10115.51356845, 10171.41106713,
        9922.90996582, 10121.15843126, 10069.2411432 , 10022.12890502,
       10066.9958251 ,  9952.77802231,  9878.28379284, 10123.11853358,
        9932.9198196 , 10140.62103457, 10001.99830812, 10128.79153532,
        9996.2443426 , 10189.03052793,  9967.0445658 ,  9954.01017461,
       10052.22941548,  9779.0960669 ,  9937.78122497, 10095.66360472,
       10009.66907006, 10019.12184759,  9823.85838549, 10110.073309  ,
       10020.13546009, 10090.32298045, 10010.13157229,  9976.12493327,
       10019.31547787,  9852.35343069,  9958.61291594, 10004.92898719,
        9880.15209442, 10115.43777093, 10024.55871617, 10142.370383  ,
       10068.50950433,  9977.34662551,  9899.82162411,  9887.83176646,
        9950.17279942, 10181.92175955,  9975.46664516,  9833.78554193,
        9912.84789573,  9983.11496019,  9981.52846466,  9906.25552809,
        9937.63658241,  9985.26796811,  9955.3495158 ,  9942.51025816,
       10162.91289726, 10104.28152501, 10039.34840135, 10183.31324075,
       10057.8261505 , 10215.77783547, 10059.2645556 ,  9937.7137629 ,
        9901.13654777,  9989.1501979 , 10013.90437111, 10184.01386853,
        9888.53560608, 10035.01681294, 10165.48253687, 10087.87648385,
        9934.96052343,  9924.3258549 , 10137.55280536, 10118.415736  ,
        9853.31487243, 10044.7424843 , 10098.68545755,  9918.85305571,
        9995.35175645, 10099.84895551,  9994.16506747, 10108.1755032 ,
       10004.32774642,  9937.89784148,  9937.95186558, 10198.78500837,
       10004.92773763, 10066.9735702 , 10017.82138061, 10098.53229887,
       10039.31885727,  9977.6684364 ,  9809.17790756,  9907.56710297,
        9980.41915503, 10026.93834445,  9978.3577448 ,  9979.96016645,
       10102.76794034,  9856.30406881,  9975.61272274,  9904.79823484,
       10015.88085931,  9930.20440159,  9967.82757526, 10043.99277502,
       10096.27510451,  9872.3377982 ,  9952.43380724, 10002.19696076,
        9969.62616047,  9976.41557727, 10064.10498335, 10039.58598513,
        9939.75051892,  9963.78938053, 10114.02548042,  9795.91025912,
        9956.46683784, 10089.52778525, 10139.24388993, 10041.33369744,
        9971.64242285, 10031.28940136, 10064.21545408,  9893.66570015,
        9959.03248521,  9827.72741714, 10287.04209404,  9962.23726915,
       10224.68479821, 10012.83590059, 10073.80045411, 10012.13465547,
       10072.33718239,  9966.56453199, 10053.52472505, 10072.96957345,
       10170.4685223 , 10054.3396604 , 10058.561893  , 10110.26844542,
       10039.88014495, 10093.2851368 , 10175.96702794, 10047.715897  ,
        9982.97533633,  9731.11145409,  9892.05800177,  9999.00531711,
       10076.48538324, 10051.98406575,  9906.96095036,  9997.1077758 ,
        9932.18378076, 10024.55550523,  9978.21680538, 10089.60680412,
        9789.74082589, 10160.67933997,  9856.81759421,  9998.43555365,
        9948.98787171,  9889.59254088, 10194.65113574, 10009.62984908,
       10048.84671208, 10185.26419184, 10060.20979741,  9951.24377727,
        9811.56612379,  9925.92367026, 10016.55145692, 10027.94743292,
        9964.33397851, 10059.65699231,  9965.56740791, 10199.83446813,
        9939.30163442,  9952.86292558,  9743.5012853 , 10045.26007949,
        9988.17150132, 10105.14156707,  9850.96013027, 10035.18522485,
        9957.60993222,  9920.91538975])