### 연습문제 1
<pre>
넘파이를 사용하여 다음과 같은 행렬을 만드시오. 
10 20 30 40 
50 60 70 80
</pre>

In [1]:
import numpy as np

In [7]:
a= np.arange(10,81,10).reshape(2,4)
a

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

### 연습문제 2
<pre>
다음 행렬과 같은 행렬이 있다. 
m = np.array([  [ 0, 1, 2, 3, 4], 
                [ 5, 6, 7, 8, 9], 
                [10, 11, 12, 13, 14]])
1)이 행렬에서 값 7 을 인덱싱한다.
2)이 행렬에서 값 14 을 인덱싱한다.
3)이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
4)이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
5)이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.
</pre>

In [58]:
m = np.array([  [ 0, 1, 2, 3, 4], 
                [ 5, 6, 7, 8, 9], 
                [10, 11, 12, 13, 14]])
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [12]:
# 1)이 행렬에서 값 7 을 인덱싱한다.
m[1][2]

7

In [13]:
# 2)이 행렬에서 값 14 을 인덱싱한다.
m[2][4]

14

In [19]:
# 3)이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
m[1:2,1:3]

array([[6, 7]])

In [20]:
# 4)이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
m[1:, 2:3]

array([[ 7],
       [12]])

In [21]:
# 5)이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.
m[:2,3:]

array([[3, 4],
       [8, 9]])

### 연습문제 3
<pre>
3.2번의 행렬 m을 1차원 벡터 f 로 변환한 후 다음의 문제를 푸시오.
1)이 배열에서 3의 배수를 찾아라.
2)이 배열에서 4로 나누면 1이 남는 수를 찾아라.
3)이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.
</pre>

In [61]:
f= m.flatten()
f

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [64]:
# 1)이 배열에서 3의 배수를 찾아라.
f1 = f[f%3==0]
f1

array([ 0,  3,  6,  9, 12])

In [65]:
# 2)이 배열에서 4로 나누면 1이 남는 수를 찾아라.
f2 = f[f%4==1]
f2

array([ 1,  5,  9, 13])

In [70]:
# 3)이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.
f3 = f1[f1%4==1]
f3

array([9])

### 연습문제 4
<pre>
4.값을 직접 입력하지 말고 우측의 행렬을 만드시오.

2, 1, 0, 0, 0 
3, 2, 1, 0, 0
0, 3, 2, 1, 0 
0, 0, 3, 2, 1 
0, 0, 0, 3, 2
</pre>

In [86]:
np.eye(N=5 , M=5,k=-1, dtype=int)*3+np.eye(N=5 , M=5, dtype=int)*2+np.eye(N=5 , M=5,k=1, dtype=int)

array([[2, 1, 0, 0, 0],
       [3, 2, 1, 0, 0],
       [0, 3, 2, 1, 0],
       [0, 0, 3, 2, 1],
       [0, 0, 0, 3, 2]])

In [74]:
np.eye(3,5,k=0,dtype=int)+ np.eye(3,5,k=2, dtype=int)

array([[1, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 1]])

### 연습문제 5
<pre>
0에서 10까지 랜덤 실수값으로 이루어진 
5 x 6 형태의 데이터 행렬을 만들고 이 데이터에 대해 
다음과 같은 값을 구하시오.
1)전체의 최댓값
2)각 행의 합
3)각 행의 최댓값
4)각 열의 평균
5)각 열의 최솟값
</pre>

In [94]:
import random
b = np.random.randint(0,11,30).reshape(5,6)
b

array([[ 1,  7,  7, 10,  1,  9],
       [ 8,  0,  5,  2,  6,  8],
       [ 8,  3,  5,  9,  4,  6],
       [ 9,  4,  4,  0,  9,  6],
       [ 5,  1,  7,  8,  9,  5]])

In [95]:
# 1)전체의 최댓값
b.max()

10

In [96]:
# 2)각 행의 합
b.sum(axis=1)

array([35, 29, 35, 32, 35])

In [97]:
# 3)각 행의 최댓값
b.max(axis=1)

array([10,  8,  9,  9,  9])

In [99]:
# 4)각 열의 평균
b.mean(axis=0)

array([6.2, 3. , 5.6, 5.8, 5.8, 6.8])

In [100]:
# 5)각 열의 최솟값
b.min(axis=0)

array([1, 0, 4, 0, 1, 5])

### 연습문제 6
<pre>
6.다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 
세번째 행에 수학 성적을 적은 배열이다. 
영어 성적을 기준으로 각 열(column)을 재정렬하시오.
array([ [ 1, 2, 3, 4], 
        [ 46, 99, 100, 71], 
        [ 81, 59, 90, 100]])
</pre>

In [187]:
c = np.array([1,2,3,4,  46, 99, 100, 71,  81, 59, 90, 100], dtype=np.int32).reshape(3,4)
c

array([[  1,   2,   3,   4],
       [ 46,  99, 100,  71],
       [ 81,  59,  90, 100]])

In [207]:
c1 = np.array([ 1, 2, 3, 4])
c2 = np.array([ 46, 99, 100, 71])
c3 = np.array([ 81, 59, 90, 100])

print(c1)
print(c2)
print(c3)

[1 2 3 4]
[ 46  99 100  71]
[ 81  59  90 100]

In [208]:
i = c3.argsort()
i

array([1, 0, 2, 3], dtype=int64)

In [212]:
i = np.argsort(c3)
c1 = c1[i]
c2 = c2[i]
c3 = c3[i]
np.vstack((c1,c2,c3))

array([[  2,   1,   3,   4],
       [ 99,  46, 100,  71],
       [ 59,  81,  90, 100]])

### 연습문제 7
<pre>
7.주사위를 100번 던지는 가상 실험을 파이썬으로 작성하고, 던져서 나오는 숫자의 평균을 구하시오.
</pre>

In [215]:
np.random.randint(1,7,100).mean()

3.77

### 연습문제 8
<pre>
8.가격이 10,000원인 주식이 있다. 
이 주식의 일간 수익률(%)은 기댓값이 0%이고 
표준편차가 1%인 표준 정규 분포를 따른다고 하자. 
250일 동안의 주가를 무작위로 생성하시오.
</pre>

In [270]:
e = np.random.uniform(-0.5,0.5,250)*10000+10000
e

array([11003.97368693, 10713.57636944, 14146.10990288, 11276.70955295,
        6806.12161083,  7593.48271291, 11249.04333894, 14497.58494143,
       14643.40327353, 10131.86053252,  8508.0122089 ,  5248.73211664,
       10732.01095715,  7158.79266894, 11413.88819321, 13018.32463991,
       11748.46732393,  5936.66288487,  7703.69942716,  5556.72908497,
        9388.70142082,  7459.05073462, 12600.75859112,  9443.25888906,
       14785.83127505,  7561.37113904, 14513.23102874, 10482.62027923,
        6437.9527786 , 10143.05940702, 14111.64764327,  6062.55212806,
       14181.12771512,  6920.02108689,  9546.97434362, 11828.92120946,
       13089.78600308, 12477.86982421, 10985.56258126, 14074.38283688,
       10653.11804017,  5810.43288358, 11288.84006999, 13404.69463447,
       13811.44158176, 13049.10326904,  8535.99656821,  7160.18144425,
        6918.03594646, 14109.5057905 , 13845.315059  , 10310.18819318,
        8114.53507136,  9401.11517363,  5217.10649927,  8920.7112891 ,
        5556.42988778,  5661.38490445,  6554.23628154,  5299.90493747,
        9286.28947449, 14507.54454034, 10658.14698514, 13415.22352956,
        5480.09499946, 14262.49910904, 14631.9401431 , 11169.291732  ,
        8337.44299635, 13312.5131511 , 13693.80116355, 11488.16285997,
       13146.40369122, 13134.73400622,  8689.89288191, 12651.93566936,
       10970.45136321,  7499.05451936,  8758.69298469,  8722.35112326,
        5432.43067176, 12007.98263543,  5946.97949293,  6356.84679566,
       10561.12308202,  5864.43818465, 11604.87500528,  8429.08373418,
       10423.85866973, 12792.61835711,  7954.65113885,  5844.32525937,
        7596.78650728,  9102.77125389, 14755.92628995,  9876.62462587,
       12319.33799218,  5582.76322213,  7874.9254201 , 10964.48789803,
        5672.85065669,  8646.62028831, 14780.09591123,  5605.4286214 ,
        6709.88621353,  5973.55505729,  5153.58805951, 10691.4409663 ,
        8790.40742401,  5726.06449762,  5706.25579815, 14001.88338826,
        8306.98528025, 11253.22729068,  8895.9083238 ,  6910.76869334,
        8298.50741535, 11229.91570795,  9127.83206238, 12274.41000996,
       12012.99061493, 13685.63199906, 10845.92561014,  5472.13959639,
        5550.06106663,  6433.40099296,  6605.9227887 , 10899.14938913,
       10579.20128705, 14037.73366103, 14919.80310672, 10087.08470328,
        9233.27072594,  7047.28578739, 10236.90122322,  6694.0103771 ,
       11169.25856081,  7622.23174135, 10579.09616468, 13906.19879711,
       11784.67764466,  9260.33094886, 11029.6732076 , 14765.31040629,
        8799.12994446, 12550.08421435,  7299.72862833, 11517.82146556,
        8567.00369143,  7885.23633422, 12747.29140317, 11187.86991357,
       12574.90380583,  9025.40190249,  7862.67682631, 14438.81571699,
       14690.25604277, 12031.47934048,  8442.30660005,  7110.57870647,
       10091.26232587, 14068.64912707,  9116.70594734, 11259.76853398,
       10720.74659566,  5005.26376358, 12129.01403079,  9035.4299547 ,
       12504.41809258, 10831.24548   ,  7184.11991295,  7332.98724629,
       12974.86421487, 12034.25830398, 11779.36943178,  7913.75907359,
        8886.44220682,  7055.34564051, 12470.15870244,  5412.34438656,
       12690.46393632, 12117.79293401,  8202.39395269, 12704.68866368,
       13293.45439144, 11811.27985021,  6977.59668526,  5267.9011408 ,
       10073.23715377,  5891.71595652, 13366.02021026,  8241.46138569,
        9816.43456852,  8829.03277902, 11849.70371298, 12229.09734402,
        8034.14740188, 13636.5914688 ,  5362.21667624, 13968.38354296,
       10648.26357581,  7317.69859855, 12063.81570949,  7016.37103567,
        7315.95182291,  7232.33292519, 10952.46689998,  7423.87914353,
        8195.23408969,  9383.91673809,  9339.88106633, 11837.15007856,
       14439.06631153, 12092.14969667,  5352.74598644, 13817.39486153,
        9489.33218322, 10924.5552184 ,  8827.05964235, 14420.28927126,
       10251.95359801, 13883.16794845,  8497.57099548, 10088.7865495 ,
       13364.77902533, 12261.64842556, 12451.64176266,  5680.01473622,
        8754.02762131,  8958.71383968,  9357.91942706, 10299.00831849,
       10509.96783316,  8753.21492084, 13109.24908732,  9103.3453433 ,
       11646.27545042,  9353.83224655, 13757.45562899,  7065.51025308,
        5812.51098332, 11565.88441743,  5855.09258788,  5415.58659174,
        7701.83983556,  6869.37141656, 14432.35312767,  7737.27212854,
        9826.16172609,  5059.3194056 ])