# Youtube Ranking

- page 이동 url . page = 1,2,3~~~~
- 버튼을 눌러서 가자

In [1]:
import time
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

- step 1

In [46]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube'
driver = webdriver.Chrome('chromedriver')
driver.get(url)
time.sleep(2)

- step 2

In [6]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
trs = soup.select('tr.aos-init')
len(trs)

100

- step 3

In [8]:
# 순위
tr = trs[0]
tr.select_one('.rank').get_text().strip()

'1'

In [9]:
# 카테고리
tr.select_one('.category').get_text().strip()[1:-1]

'음악/댄스/가수'

In [10]:
# 채널명
tr.select_one('.subject a').get_text().strip()

'BLACKPINK'

In [16]:
# 구독자, 조회, 비디오갯수, 
subscriber = tr.select_one('.subscriber_cnt').get_text().strip()
view = tr.select_one('.view_cnt').get_text().strip()
video = tr.select_one('.video_cnt').get_text().strip()
subscriber , view, video

('7350만', '233억1663만', '394개')

- step 4

In [34]:
lines =[]
for tr in trs:
    rank = int(tr.select_one('.rank').get_text().strip())
    category = tr.select_one('.category').get_text().strip()[1:-1]
    channel = tr.select_one('.subject a').get_text().strip()
    subscriber = tr.select_one('.subscriber_cnt').get_text().strip()
    view = tr.select_one('.view_cnt').get_text().strip()
    video = tr.select_one('.video_cnt').get_text().strip()
    lines.append([rank, category, channel, subscriber, view, video])

In [35]:
df = pd.DataFrame(lines, columns=['순위','카테고리','채널명','구독자수','조회수','영상갯수'])
df.head()

   순위      카테고리                          채널명   구독자수        조회수    영상갯수
0   1  음악/댄스/가수                    BLACKPINK  7350만  233억1663만    394개
1   2  음악/댄스/가수                    BANGTANTV  6550만  157억9463만  1,686개
2   3  음악/댄스/가수                  HYBE LABELS  6500만  221억9069만    818개
3   4  음악/댄스/가수                       SMTOWN  3030만  243억1077만  3,895개
4   5    키즈/어린이  Boram Tube Vlog [보람튜브 브이로그]  2650만  110억5288만    223개

In [36]:
# 숫자로 바꿔주는 함수
def convert_unit(s):
    s = s.replace('억','').replace('개','').replace(',','').replace('만','0000')
    return f'{int(s):,d}'

In [27]:
convert_unit('233억1663만')

'23,316,630,000'

In [37]:
for column in df.columns[3:]:
    df[column]= df[column].apply(convert_unit)
df.head()

,순위,카테고리,채널명,구독자수,조회수,영상갯수
0,1,음악/댄스/가수,BLACKPINK,"73,500,000","23,316,630,000",394
1,2,음악/댄스/가수,BANGTANTV,"65,500,000","15,794,630,000","1,686"
2,3,음악/댄스/가수,HYBE LABELS,"65,000,000","22,190,690,000",818
3,4,음악/댄스/가수,SMTOWN,"30,300,000","24,310,770,000","3,895"
4,5,키즈/어린이,Boram Tube Vlog [보람튜브 브이로그],"26,500,000","11,052,880,000",223

- step 6. 모든 페이지

In [39]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube'

In [48]:
lines = []
for page in range(1,11):
    url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page='+str(page)
    driver.get(url)
    time.sleep(2)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    trs = soup.select('tr.aos-init')

    for tr in trs:
        rank = int(tr.select_one('.rank').get_text().strip())
        category = tr.select_one('.category').get_text().strip()[1:-1]
        channel = tr.select_one('.subject a').get_text().strip()
        subscriber = tr.select_one('.subscriber_cnt').get_text().strip()
        view = tr.select_one('.view_cnt').get_text().strip()
        video = tr.select_one('.video_cnt').get_text().strip()
        lines.append([rank, category, channel, subscriber, view, video])

In [49]:
df = pd.DataFrame(lines, columns=['순위','카테고리','채널명','구독자수','조회수','영상갯수'])
for column in df.columns[3:]:
    df[column] = df[column].apply(convert_unit)
df.head()

,순위,카테고리,채널명,구독자수,조회수,영상갯수
0,1,음악/댄스/가수,BLACKPINK,"73,500,000","23,316,630,000",394
1,2,음악/댄스/가수,BANGTANTV,"65,500,000","15,794,630,000","1,686"
2,3,음악/댄스/가수,HYBE LABELS,"65,000,000","22,190,690,000",818
3,4,음악/댄스/가수,SMTOWN,"30,300,000","24,310,770,000","3,895"
4,5,키즈/어린이,Boram Tube Vlog [보람튜브 브이로그],"26,500,000","11,052,880,000",223

In [50]:
driver.close()

In [51]:
df.to_csv('유튜브랭킹.csv', index=False)

In [38]:
# XPath 로 찾아가기 //*[@id="list-skin"]/nav/span/a[1]
driver.find_element_by_xpath('//*[@id="list-skin"]/nav/span/a[1]').click()
time.sleep(2)

In [ ]:
window_len = len(driver.window_handles)
if window_len ==2 :
    driver.switch_to.window(driver.window_handles[1])
    driver.close()
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    trs = soup.select('tr.aos-init')