# Pandas - Series

In [1]:
import numpy as np
import pandas as pd

### 1. 시리즈 생성

- Numpy 1차원 배열+인덱스

In [2]:
pop = [9904312, 344873, 2890451, 2466052] # 서울,부산,인천,대구
pop[0] , pop[2]

(9904312, 2890451)

In [4]:
metro = pd.Series(pop, index=['서울','부산','인천','대구'])

In [5]:
metro

서울    9904312
부산     344873
인천    2890451
대구    2466052
dtype: int64

In [6]:
# 값 하나를 인덱싱 할 경우
metro[0], metro['서울']

(9904312, 9904312)

In [8]:
# 여러 값을 가져올 경우
metro[[0,1]]

서울    9904312
부산     344873
dtype: int64

In [9]:
metro[['서울','부산']]

서울    9904312
부산     344873
dtype: int64

In [7]:
# metro 데이터 타입
metro.values, type(metro.values)

(array([9904312,  344873, 2890451, 2466052], dtype=int64), numpy.ndarray)