# Data Frame - 시계열 자료

In [1]:
import numpy as np
import pandas as pd

- DatatimeIndex 인덱스

In [3]:
data_str = ['2022, 4, 1','2022-4-2','20220403','2022.4.4','4/5/22','040622']
idx = pd.to_datetime(data_str)
idx

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06'],
              dtype='datetime64[ns]', freq=None)

In [5]:
np.random.seed(2022)
s = pd.Series(np.random.randint(40,101,6),index=idx)
s

2022-04-01    68
2022-04-02    85
2022-04-03    88
2022-04-04    89
2022-04-05    89
2022-04-06    88
dtype: int32

In [6]:
pd.date_range('20220401','2022-04-30')

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [7]:
pd.date_range('20220401', periods=30)

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [10]:
#freq='B' 에서 B 는 비지니스데이 즉 주말을 제외한 주중일자 30개를 추출
pd.date_range('20220401',periods=30,freq='B')

DatetimeIndex(['2022-04-01', '2022-04-04', '2022-04-05', '2022-04-06',
               '2022-04-07', '2022-04-08', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-18',
               '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-05-02', '2022-05-03', '2022-05-04',
               '2022-05-05', '2022-05-06', '2022-05-09', '2022-05-10',
               '2022-05-11', '2022-05-12'],
              dtype='datetime64[ns]', freq='B')

In [11]:
# freq='W' 는 일요일
pd.date_range('20220401','20220430', freq='W')

DatetimeIndex(['2022-04-03', '2022-04-10', '2022-04-17', '2022-04-24'], dtype='datetime64[ns]', freq='W-SUN')

- resample

In [14]:
ts = pd.Series(np.random.randint(100,1000,100),
                index = pd.date_range('20220101',periods=100))
ts.tail()

2022-04-06    560
2022-04-07    608
2022-04-08    744
2022-04-09    856
2022-04-10    219
Freq: D, dtype: int32

In [16]:
ts.resample('M').first() # 이달에 첫번째 값을 가져오라

2022-01-31    956
2022-02-28    344
2022-03-31    486
2022-04-30    162
Freq: M, dtype: int32

In [18]:
ts.resample('W').mean() # 주간단위로 평균을 구해오라

2022-01-02    537.000000
2022-01-09    513.285714
2022-01-16    379.285714
2022-01-23    555.571429
2022-01-30    707.142857
2022-02-06    406.000000
2022-02-13    374.000000
2022-02-20    524.571429
2022-02-27    468.000000
2022-03-06    582.857143
2022-03-13    738.571429
2022-03-20    541.000000
2022-03-27    305.857143
2022-04-03    479.000000
2022-04-10    527.714286
Freq: W-SUN, dtype: float64