In [2]:
import numpy as np
import pandas as pd

# 1) Iris - sns.load_dataset('iris')
<pre>
a.붓꽃 종(species)별로 꽃잎길이(sepal_length), 꽃잎폭(sepal_width), 
꽃받침길이(petal_length), 꽃받침폭(petal_width)의 평균, 표준편차 등 기초통계량(describe())을 구하시오.

b.3분위수(Q3)와 1분위수(Q1)의 차이보다 1.5배가 크거나 작은 데이터는 이상치이다. 
즉, Q1 - 1.5 * (Q3 - Q1) 보다 작은 데이터 Q3 + 1.5 * (Q3 - Q1) 보다 큰 데이터 이 이상치를 제거하고 
위의 4가지 항목에 대해서 평균, 표준편차를 구하시오.
</pre>

In [6]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [16]:
flower.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [28]:
flower.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [20]:
Q0 = flower.quantile(.0)
Q1 = flower.quantile(.25)
Q2 = flower.quantile(.50)
Q3 = flower.quantile(.75)
Q4 = flower.quantile(1)

In [21]:
Q1 - 1.5+(Q3-Q1)

sepal_length    4.9
sepal_width     1.8
petal_length    3.6
petal_width     0.3
dtype: float64

In [22]:
Q3 + 1.5 * (Q3 - Q1)

sepal_length     8.35
sepal_width      4.05
petal_length    10.35
petal_width      4.05
dtype: float64

In [24]:
print (flower.loc[flower['species'] == 'setosa'])

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [23]:
flower

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [32]:
set = flower.loc[flower['species'] == 'setosa']

set.sepal_length.sum()  ,set.sepal_width.sum() , set.petal_length.sum() , set.petal_width.sum()

(250.3, 171.4, 73.10000000000001, 12.299999999999999)

In [43]:
set

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [33]:
set.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

In [40]:
setQ0 = set.quantile(.0)
setQ1 = set.quantile(.25)
setQ2 = set.quantile(.50)
setQ3 = set.quantile(.75)
setQ4 = set.quantile(1)

In [46]:
lower = setQ1 - 1.5 * (setQ3 - setQ1)
lower

sepal_length    4.2000
sepal_width     2.4875
petal_length    1.1375
petal_width     0.0500
dtype: float64

In [47]:
big = setQ3 + 1.5 * (setQ3 -setQ1)
big

sepal_length    5.8000
sepal_width     4.3875
petal_length    1.8375
petal_width     0.4500
dtype: float64

In [50]:
set > big

C:\Users\kos\AppData\Local\Temp/ipykernel_1704/4210261567.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  set > big

    petal_length  petal_width  sepal_length  sepal_width  species
0          False        False         False        False    False
1          False        False         False        False    False
2          False        False         False        False    False
3          False        False         False        False    False
4          False        False         False        False    False
5          False        False         False        False    False
6          False        False         False        False    False
7          False        False         False        False    False
8          False        False         False        False    False
9          False        False         False        False    False
10         False        False         False        False    False
11         False        False         False        False    False
12         False        False         False        False    False
13         False        False         False        False    False
14         False        False         False        False    False
15         False        False         False         True    False
16         False        False         False        False    False
17         False        False         False        False    False
18         False        False         False        False    False
19         False        False         False        False    False
20         False        False         False        False    False
21         False        False         False        False    False
22         False        False         False        False    False
23         False         True         False        False    False
24          True        False         False        False    False
25         False        False         False        False    False
26         False        False         False        False    False
27         False        False         False        False    False
28         False        False         False        False    False
29         False        False         False        False    False
30         False        False         False        False    False
31         False        False         False        False    False
32         False        False         False        False    False
33         False        False         False        False    False
34         False        False         False        False    False
35         False        False         False        False    False
36         False        False         False        False    False
37         False        False         False        False    False
38         False        False         False        False    False
39         False        False         False        False    False
40         False        False         False        False    False
41         False        False         False        False    False
42         False        False         False        False    False
43         False         True         False        False    False
44          True        False         False        False    False
45         False        False         False        False    False
46         False        False         False        False    False
47         False        False         False        False    False
48         False        False         False        False    False
49         False        False         False        False    False

In [5]:
iris.head()

NameError: name 'iris' is not defined

In [7]:
setosa = iris[iris.species =='setosa']
versicolor = iris[iris.species =='versicolor']
virginica = iris[iris.species =='virginica']

In [8]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [9]:
for species in iris.species.unique():
    print(species,"====================")
    print(iris[iris.species == species].describe())
    print()

setosa ====================
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

versicolor ====================
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

virginica ====================
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [11]:
plt.figure(figsize=(6,10))
sns.boxplot(data=iris[iris.species == 'setosa'])
plt.show()

NameError: name 'plt' is not defined

- b. 이상치(outlier) 제거

In [12]:
s = iris[iris.species == 'setosa']['sepal_width']
q1 = s.quantile(0.25)       # pandas
q3 = np.percentile(s.values, 75)  # numpy
iqr = q3-q1
q1 , q3 , iqr

(3.2, 3.6750000000000003, 0.4750000000000001)

In [14]:
lower_limit = q1 - 1.5*iqr
upper_limit = q3 +1.5*iqr
s[s<lower_limit] = np.nan
s[s>upper_limit] = np.nan

C:\Users\kos\anaconda3\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\kos\anaconda3\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [15]:
s.isna().sum()

2

In [16]:
s.mean(), s.std()

(3.4312500000000004, 0.32034306743094015)

In [26]:
def get_new_stat(s):
    q1 = s.quantile(0.25)       # pandas
    q3 = np.percentile(s.values, 75)  # numpy
    iqr = q3-q1
    lower_limit = q1 - 1.5*iqr
    upper_limit = q3 +1.5*iqr
    s[s<lower_limit] = np.nan
    s[s>upper_limit] = np.nan
    return s.mean(), s.std()

In [18]:
get_new_stat(iris[iris.species == 'setosa']['sepal_width'])

C:\Users\kos\anaconda3\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\kos\anaconda3\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

(3.4312500000000004, 0.32034306743094015)

In [19]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [21]:
for species in iris.species.unique():
    for feature in iris.columns[:-1]:
        s = iris[iris.species == species][feature]
        new_mean, new_std = get_new_stat(s)
        print(species, feature, new_mean, new_std)

setosa sepal_length 5.005999999999999 0.3524896872134512
setosa sepal_width 3.4312500000000004 0.32034306743094015
setosa petal_length 1.4608695652173913 0.12906201931985212
setosa petal_width 0.23333333333333328 0.08588298157855664
versicolor sepal_length 5.936 0.5161711470638635
versicolor sepal_width 2.7700000000000005 0.3137983233784114
versicolor petal_length 4.285714285714285 0.4377975178854565
versicolor petal_width 1.3259999999999998 0.197752680004544
virginica sepal_length 6.6224489795918355 0.593459246748267
virginica sepal_width 2.95531914893617 0.26027452951125174
virginica petal_length 5.552 0.5518946956639835
virginica petal_width 2.026 0.27465005563666733

- 위 결과를 데이터프레임으로 만들기
<pre>
species,feature, old_mean, old_std, outlier 갯수, new_mean, new_std
</pre>

In [27]:
line=[]
for species in iris.species.unique():
    for feature in iris.columns[:-1]:
        s = iris[iris.species == species][feature]
        old_mean,old_std = s.mean(), s.std()
        outlier, new_mean, mew_std = get_new_stat(s)
        d = {'species':species, 'feature':feature, 'old_mean':old_mean,'old_std':old_std,
              'outlier갯수':outlier,'new_mean':round(new_mean,3),'new_std':new_std}
        line.append(d)
df = pd.DataFrame(line)
df

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
df.set_index()

# 3) Mile Per Gallon - sns.load_dataset('mpg')
<pre>
a.배기량(displacement) 대비 마력(horsepower) 열(hp_per_cc)을 추가하시오.

b.name으로부터 manufacturer(제조사)와 모델을 추출하여 새로운 열 manufacturer와 model을 추가하고, name 열은 삭제하시오.

c.엔진의 실린더(cylinders) 갯수별 연비(mpg)의 평균을 구하시오.

d.생산지(origin)별 배기량 대비 마력(hp_per_cc)의 평균을 구하시오.

e.모델이 5개 이상인 제조사에 대하여 연비(mpg)의 평균이 가장 좋은 제조사 Top 5를 구하시오.
</pre>